:root {
	/* Colors */
	--deepblue: #003961;
	--deepblue-border: #025088;
	--white: #fff;
	--blue: #025088;
    --active: #e9967a;
    --bground: #f3f3f3;
}
.mymenu{
    overflow: auto;
    max-width: 350px;
    max-height: 615px;
    margin: 10px 10px;
    margin-left: 0px;
    padding: 0px 0px;
    background-color: var(--bground);
}
.menuitem{
    list-style: none;
    border-left: 5px;
    border-left-style:solid;
    border-color: var(--deepblue-border);
    margin: 5px 5px;
}
.menuitem-active{
    list-style: none;
    border-left: 5px;
    border-left-style:solid;
    border-color: var(--active);
    margin: 5px 5px;
}